/*
    #3d7dca
    #f6e652
*/

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:wght@600&display=swap');

body {
    background-color: #3d7dca;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

header{
    text-align: center;
}

section{
    background-color: whitesmoke;
    color: #3d7dca;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.623);
}

select{
    color: #3d7dca;
}

footer{
    text-align: center;
    font-style: italic;
    margin-top: 25px;
}