@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right bottom, rgba(174, 181, 156), rgba(19, 104, 61));
}

.container {
    display: flex;
    min-height: 50vh;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    padding: 5rem;
    box-shadow: 6px 6px 20px rgb(0, 0, 0, 0.5);
    border-radius: 2rem;
    border-bottom-right-radius: 10rem;
}

/*IMAGEM*/

img {
    width: 20rem;
}

/*PRINCIPAL*/

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 4rem;
}

h1{ 
    opacity: 0.8;
    font-size: 1.5rem;
    padding: 0rem 0rem 0.5rem;
}

.info img {
    width: 15rem;
}

p {
    opacity: 0.9;
}

/*INPUT*/ 

.input {
    display: flex;
    padding: 2rem 0rem;
    justify-content: space-around;
}

.dolar::before{
    content: 'US$ ';
}

input {
    width: 5rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border: none;
    height: 1.3rem;
    text-align: center;
}

button {
    width: 5rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border: none;
    height: 1.3rem;
}

/*OUTPUT*/